$font-one: 'Poppins', sans-serif;
$font-two: 'Heebo', sans-serif;

$gray-one: #333333;
$gray-two: #4F4F4F;
$gray-three: #828282;
$gray-four: #BDBDBD;
$gray-five: #E0E0E0;
$gray-six: #F2F2F2;
$blue: #2D9CDB;
$red: #EB5757;
$footer-color: #100E1D;

input{
  border-radius: 12px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  padding-inline-start: 10px;
  border: none;
}

button{
  background-color: $blue;
  color: $gray-six;
  border-radius: 12px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  border: none;
}

img{
  max-inline-size: 100%;
  block-size: auto;
}

.icon{
  inline-size: 67px;
  block-size: 67px;
  border-radius: 8px;
  margin-block-end: 30px;
  padding: 10px;
}
